body {
	font-family: Roboto, sans-serif;
}

header, .hero-section {
	background: #1f2937;
}
header {
	display: flex;
	justify-content: space-around;
	height: 3em;
}

nav > ul {
	color: #e5e7eb;
	font-size: 18px;
	gap: 1.5em;
	display: flex;
	justify-content: space-around;
}

.hero-section {
	display: flex;	
	justify-content: space-around;
	height: 14em;
	align-items:center;
}

.hero-section > div {
	width: 550px;
}

.hero-section > p {
	box-sizing: border-box;
	display: block;
	padding-top: 70px;
	text-align: center;
	color: white;
	background: gray;
	height: 150px;
	width: 420px;
}

.information {
	height: 300px;
	padding-top: 30px;
	text-align: center;
}

.information > div {
	display: flex;
	margin-top: 40px;
	justify-content: space-evenly;
}

.quote {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	background: gray;
	color: white;
	height: 500px;
}

#smexy {
	display:flex;
	flex-direction: column;
}

#smexy > *:nth-child(2) {
	align-self: end;
}

.call-to-action {
	box-sizing: border-box;
	height: 250px;
}

.call-to-action-rectangle {
	height: 140px;
	border-radius: 5px;
	background: blue;
	color: white;
	width: 75%;
	margin: 0 auto;
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
